<h2>Administrador</h2>
<hr>
<div class="container bg-light p-1">
    <div class="row">
        
            <div class="col-3">
                <div class="card-body mx-0">
                   <img src="/img/BG.jpg" class="fotoAluno" alt="">
                </div>
                <p class="card text-center mt-2" ><a href="#" class="btn btn-sm btn-light" >Editar foto</a></p>
            </div>
            <div class="col-5">
                <p class="my-1 mx-0 h3"> {{user.username}} </p>
                <p class="my-1 mx-0"><span>Função:</span> <span> {{user.categoria}} </span> </p>
                <p class="my-1 mx-0"><span>Contacto:</span> {{user.telefone}} </p>
                <p class="my-1 mx-0"><span>Nome:</span></p>
                <p class="my-1 mx-0"><span>Nome:</span></p>
            </div>
        
        <div class="col-4 menu">
            <div class="p-2">

            <h2 class="text-center mybox">MENU</h2>
            
            <div class="row menu-item h3 bg-warning text-center p-2"><a href="/anosLectivo">ANOS LECTIVO</a></div>
            <div class="row menu-item h3 bg-danger text-center p-2"><a href="#">FINAMÇAS</a></div>
            <div class="row menu-item h3 bg-info text-center p-2"><a href="#">R. HUMANOS</a></div>
            <div class="row menu-item h3 bg-secondary text-center p-2"><a href="/pedagogico">ÁREA PEDAGÓGICA</a></div>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row mybox">
    <div class="col-4 text-center bg-laranja text-light row menu-item "><a class="btn text-light btn-sm" >NOTICIAS</a></div>
    <div class="col-4 text-center bg-secondary text-light row menu-item "><a class="btn text-light btn-sm" >IMAGENS</a></div>
    <div class="col-4 text-center bg-verdAlf text-light row menu-item "><a class="btn text-light btn-sm" >CHAT</a></div>
</div>