<div class="container mybox principal">
    <div class="row mt-0 text-end">
        <div class="col imagPrincipal mt-0">
            <img src="/img/principal.JPG" alt="imagem Principal">
            <figcaption>
                <div class="display-5 ms-5 p-5">
                    Liceu Felizberto D. Ngunga de Catabola <br>
                    <p></p>
                    <span>A opçao ideal para ingressares ao ensino superior em menos de 4 anos e com uma multipla
                        escolha de cursos em áreas sociais e tecnicas profissionais, você só encontra aqui!</span><br>
                    <a href="#" class="p-3 mybox">Saiba mais</a>
                </div>

                <div class="inscricao-aberta">
                    <div class="container">
                        <div class="row">
                            {{#if candidaturaAberta}}
                            <div class="col-7">
                                <span class="lead ">Inscrições Aberta! </span>

                            </div>
                            <div class="col-5 mx-5">
                                <a href="/candidatos/add" class="p-0 bg-none"><button
                                        class="btn btn-lg btn-warning ms-1">Inscreva-te</button></a>

                            </div>
                            {{else}}
                            {{/if}}
                        </div>
                    </div>
                </div>

            </figcaption>
        </div>
        <aside>
            <h3 class="m-0">SWGE-LFC</h3>
            <hr class="m-0">
            <p>Sistema Web de Gestão escolar</p>
        </aside>
        <section class="ult-noticias p-2 mybox">
            <h4>Últimas noticias</h4>
        </section>
    </div>
</div>
<div class="row principal2">
    <div class="col-3 me-2 mt-5 ms-0 px-0 pt-5">
        <h3 class="fw-bold">Cursos</h3>
        <div class="cursos">
            Ministramos com profissionalismo e dedicação os cursos de ciências <a href="" class="fw-bold">fisicas
                biológica</a>, <a href="#" class="fw-bold">ciências humanas</a> e <a href="#"
                class="fw-bold">econômica-jurídicas</a>
        </div>

    </div>
    <div class="col-4 ms-2">
        <img src="/img/turma.JPG" class="fotoAluno" alt="imagem Principal">
    </div>
    <div class="col-4 ms-3">
        <img src="/img/turma22.JPG" class="fotoAluno" alt="imagem Principal">
    </div>
</div>
<div class="display-6 mark p-2">O que já fizemos e continuamos a fazer</div>
<hr>
<div class="container">
    <div class="row">
        <div class="display-6">IMAGENS DE ACTIVIDADES PRINCIPAIS QUE A ESCOLA FAZ E CONTINUA FAZENDO</div>
    </div>
    <hr>
    <div class="container mark mybox p-3 ">
        <div class="display-6">Alguns resultados de nosso trabalho(imagens e dizeres de alguns alunos ja formados e seu
            estado actual)</div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium illum alias nemo sapiente totam
                doloribus rem deserunt minus ducimus natus expedita, qui facere pariatur in soluta sit consectetur hic
                odit!
            </div>
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum ab quam totam doloremque
                consequuntur sed iure provident at quos cupiditate numquam dicta non nam temporibus similique, corrupti
                eius vitae.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium illum alias nemo sapiente totam
                doloribus rem deserunt minus ducimus natus expedita, qui facere pariatur in soluta sit consectetur hic
                odit!
            </div>
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum ab quam totam doloremque
                consequuntur sed iure provident at quos cupiditate numquam dicta non nam temporibus similique, corrupti
                eius vitae.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium illum alias nemo sapiente totam
                doloribus rem deserunt minus ducimus natus expedita, qui facere pariatur in soluta sit consectetur hic
                odit!
            </div>
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum ab quam totam doloremque
                consequuntur sed iure provident at quos cupiditate numquam dicta non nam temporibus similique, corrupti
                eius vitae.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium illum alias nemo sapiente totam
                doloribus rem deserunt minus ducimus natus expedita, qui facere pariatur in soluta sit consectetur hic
                odit!
            </div>
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum ab quam totam doloremque
                consequuntur sed iure provident at quos cupiditate numquam dicta non nam temporibus similique, corrupti
                eius vitae.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium illum alias nemo sapiente totam
                doloribus rem deserunt minus ducimus natus expedita, qui facere pariatur in soluta sit consectetur hic
                odit!
            </div>
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum ab quam totam doloremque
                consequuntur sed iure provident at quos cupiditate numquam dicta non nam temporibus similique, corrupti
                eius vitae.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium illum alias nemo sapiente totam
                doloribus rem deserunt minus ducimus natus expedita, qui facere pariatur in soluta sit consectetur hic
                odit!
            </div>
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum ab quam totam doloremque
                consequuntur sed iure provident at quos cupiditate numquam dicta non nam temporibus similique, corrupti
                eius vitae.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium illum alias nemo sapiente totam
                doloribus rem deserunt minus ducimus natus expedita, qui facere pariatur in soluta sit consectetur hic
                odit!
            </div>
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum ab quam totam doloremque
                consequuntur sed iure provident at quos cupiditate numquam dicta non nam temporibus similique, corrupti
                eius vitae.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium illum alias nemo sapiente totam
                doloribus rem deserunt minus ducimus natus expedita, qui facere pariatur in soluta sit consectetur hic
                odit!
            </div>
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum ab quam totam doloremque
                consequuntur sed iure provident at quos cupiditate numquam dicta non nam temporibus similique, corrupti
                eius vitae.
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium illum alias nemo sapiente totam
                doloribus rem deserunt minus ducimus natus expedita, qui facere pariatur in soluta sit consectetur hic
                odit!
            </div>
            <div class="col-3">
                <div class="card-body mx-0">
                    <img src="/img/BG.jpg" class="fotoF" alt="">
                </div>
            </div>
            <div class="col-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla dolorum ab quam totam doloremque
                consequuntur sed iure provident at quos cupiditate numquam dicta non nam temporibus similique, corrupti
                eius vitae.
            </div>
        </div>

    </div>
</div>