<div class="display-1 p-5 text-center mark">Saiba mais sobre nós</div>

<hr>

<div class="display-6 p-2">
    Somos o Liceu Felizberto Domingos Ngunga de Catabola
</div>
<div class="lead p-3 text-justify">Desde o ano 2014 que existimos na área de formação do ensino médio, formando os alunos que ingressam nesta escola com variados cursos que já mais serão dispensados para o mundo, ainda que ele evolua mais de 1000 anos. Os conhecimentos ministrados nesta instituição são actualizados de acordo a evolução da ciencia e da tecnologia.</div>
<div class="container">
    <div class="row">
        <div class="col-8">
<div class="lead m-0 p-0 text-justify">
    Capacitamos alunos para ingressarem ao ensino superior, dando-lhes a oportunidade de decidir em várias áreas de formação oferecidas pelas instituições de ensino superiore para a obtenção de grau de licenciatura.
    <div class="h3 mt-4">Localização</div>
    <div class="lead">
        Estamos localizados no município de Catabola, província do Bié em Angola.
        <p>Na estrada nacional nº xxx, 1km depois da administração munocipal local, antes do mercado municipal. Outra via, estrada que dá acesso a comuna de Caiuera</p>
    </div>
</div>

        </div>
        <div class="col-4 m-0 p-0 foto-sobre">
            <img src="/img/ppp.jpg" class="" alt="">
        </div>
    </div>
</div>
<hr>
<div class="h3">Nosso objectivo</div>
<hr>
<section class=" ps-3 pt-3 mark" >

<div class="h3">Nossa origem e adaptação</div>
<div class="lead text-justify">
    <div class="row">
        <div class="col-6">

    Surgimos para atender as necessidades crescente do país, contribuido no alcance dos objetivos traçados pelo governo em busca da melhor condição de vida, promovendo a auto-preparação no primeiro emprego ou no investimento para empreender afim de gerar emprego.
    <p class="mt-4" >Somos o resultado de análises feitas pelo executivo angolano, na busca de diversidades de oportunidade de formação e formação de um cidadão polivalente. Nossos cursos permitem que o aluno termine a formação com conhecimentos que lhe possiblita se enquadrar a diversas áreas de formação assim ou em diversas áreas do mercado de trabalho com base no curso escolhido.</p>

    <div class="lead">
        Devido
    </div>

        </div>
        <div class="col-6 foto-sobre">
            <img src="/img/turma2.jpg" class="" alt="">
        </div>
    </div>

</div>
</section>
<hr>
<div class="h3">Cursos oferecidos e duração</div>
<div class="lead text-justify">
    - Ciencias económicas-jurídicas <br>
    - Ciencias Físicas biológica <br>
    - Ciencias Humanas
    <br><br>
    <p>Nossos cursos tem duração de apenas tres anos, com dedicação e rigor permitindo assim que o aluno formado esteja apto em curto espaço de tempo dando-lhe a oportunidade de escolher uma opção desejada face aos diversos cursos disponíveis no ensino superior.</p>
</div>
<hr>
<div class="h3">Corpo Directivo</div>
<hr>
<div class="h3">Fotos</div>
<hr>
<div class="h3">Maios Fotos</div>
<hr>